    # MDAnalysis files
**/*xtc_offsets.*
**/*xtc_offsets.*

# pycharm virtual environment stuff:
venv
.idea

# python files:
**/__pycache__

# jupyter-notebook files:
**/.ipynb_checkpoints/

# sphinx build:
docs/build

# own stuff
nmrformd.egg-info/
dist/
build/
**/_*
save.sh

.tox/
docs/bin/
docs/lib/
docs/pyvenv.cfg

# LAMMPS files
**/log.lammps

# raw rata file
examples/raw-data/bulk-water/*
!examples/raw-data/bulk-water/N398/
examples/raw-data/bulk-water/N398/log.*
examples/raw-data/bulk-water/N398/*.lammpstrj
examples/raw-data/bulk-water/N398/*.lammps
examples/raw-data/bulk-water/N398/*.sh
examples/raw-data/polymer-in-water/*
examples/raw-data/water-in-silica/*
!examples/raw-data/water-in-silica/N50/
examples/raw-data/water-in-silica/N50/nvt.*
examples/raw-data/water-in-silica/N50/npt.*
examples/raw-data/water-in-silica/N50/ff/
examples/raw-data/water-in-silica/N50/input/
examples/raw-data/water-in-silica/N50/emd.*
examples/raw-data/water-in-silica/N50/*.sh
examples/raw-data/water-in-silica/N50/*.cpt
