    # MDAnalysis files
**/*xtc_offsets.npz
**/*xtc_offsets.lock

# pycharm virtual environment stuff:
venv
.idea

# python files:
**/__pycache__

# jupyter-notebook files:
**/.ipynb_checkpoints/

# sphinx build:
docs/build

# own stuff
nmrformd.egg-info/
dist/
build/
**/_*

.tox/
docs/bin/
docs/lib/
docs/pyvenv.cfg

# LAMMPS files
**/log.lammps

# raw rata file
examples/raw-data/bulk-water/*
!examples/raw-data/bulk-water/N398
!examples/raw-data/bulk-water/N398/*
examples/raw-data/polymer-in-water/*
examples/raw-data/water-in-silica/*

