[submodule "examples/pyplot-perso"]
	path = examples/pyplot-perso
	url = git@github.com:simongravelle/pyplot-perso.git
[submodule "data/bulk-water-tip4p"]
	path = data/bulk-water-tip4p
	url = git@github.com:simongravelle/bulk-water-tip4p.git
[submodule "data/water-in-silica"]
	path = data/water-in-silica
	url = git@github.com:simongravelle/water-in-silica.git
[submodule "data/bulk-water-high-dumping-rate"]
	path = data/bulk-water-high-dumping-rate
	url = git@github.com:simongravelle/bulk-water-high-dumping-rate.git
[submodule "data/lennard-jones-fluid"]
	path = data/lennard-jones-fluid
	url = git@github.com:simongravelle/lennard-jones-fluid.git
[submodule "data/polymer-in-water"]
	path = data/polymer-in-water
	url = git@github.com:simongravelle/polymer-in-water.git
[submodule "data/HEWL-in-water"]
	path = data/HEWL-in-water
	url = git@github.com:simongravelle/HEWL-in-water.git
